*{
    box-sizing: border-box;
}

body {
    text-align: center;
    background-color: hsl(0, 0%, 8%);
    width: 1440px;
    height: auto;
    font-family: "Inter", sans-serif;
}

p {
    font-size: 14px;
    color: hsl(0, 0%, 100%);
    font-weight: 400;
}

img {
    border-radius: 50%;
    margin: 50px auto 0 auto;
    background-color: #333333;
}

h1 {
    color: hsl(0, 0%, 100%);
    font-weight: 700;
}

h4 {
    color: hsl(75, 94%, 57%);
    font-weight: 600;
}

ol li {
    display: block;
    list-style-type: none;
    background-color: #333333;
    margin: 10px auto;
    width: 80%;
    border-bottom: 1px;
    border-radius: 8px;
}

.bd-color {
    background-color: hsl(0, 0%, 12%);
    margin: 100px auto;
    width: 50%;
    padding: 20px;
}

a {
    display: block;
    padding: 15px;
    color: hsl(0, 0%, 100%);
    text-decoration: none;
}

a:hover {
    background-color: hsl(75, 94%, 57%);
    color: #333333;
    border-radius: 8px;
}